<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}">title</title>
<link href="/css/indexstyle.css" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
	<p>積読管理アプリ</p>
	<div>
		<a th:href="@{/book/list}"> <input class="list" type="submit"
			value="一覧表示">
		</a>
	</div>

	<div>
		<a th:href="@{/book/register}"> <input class="register"
			type="submit" value="新規登録">
		</a>
	</div>
	<form action="/book" method="post">
		<label>ID:<input class="input" type="text" name="id"></label><br>
		<div>
			<input class="search" type="submit" value="検索">
		</div>
	</form>
	<div th:if="${bookSearchForm.id} > 0" th:object="${book}">
		<table>
			<tr>
				<th>ID</th>
				<th>書籍名</th>
				<th>巻/版</th>
				<th>著者名</th>
				<th>登録日</th>
			</tr>
			<tr>
				<td th:text="*{id}">id</td>
				<td th:text="*{bookName}">書籍名</td>
				<td th:text="*{volumeNum}">巻/版</td>
				<td th:text="*{authorName}">著書名</td>
				<td th:text="*{registerDate}">登録日</td>
			</tr>
		</table>
	</div>


</body>
</html>