<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}">title</title>
<link href="/css/registerstyle.css" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
	<p>つんどく登録</p>
	<form th:action="register" th:object="${bookRegisterForm}" method="post">
		<label>書籍名:<input class="input" type="text"th:field="*{bookName}"></label><br>
		<label>巻/版 :<input class="input" type="text" th:field="*{volumeNum}"></label><br>
		<label>著者名:<input class="input" type="text"  th:field="*{authorName}"></label><br>
		<div>
			<input class="register" type="submit" value="1件登録">
		</div>
	</form>
</body>
</html>
